<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Marketplace App</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" media="all"
        href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>


<h1>Ecco il tuo carrello<span th:text="${session.user.name}">NomeProva</span></h1>
<h2>Prodotti nel carrello:</h2>

<p>Non c'è nulla</p>
<p>Proprio nulla</p>



<div class="topnav">
  <a th:href="@{/home}">Home</a>
  <a th:href="@{/cart}">Home</a>
  <a th:href="@{/orders}">Orders</a>
</div>

</body>
</html>