<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Marketplace App</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" media="all"
        href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>

<body>

<h1>Welcome to our marketplace <span th:text="${session.user.userName}">Amadeus</span></h1>

<h2>User info</h2>

<p>This is your e-mail:
  <span th:text="${userInfo.email}">amadeus.wgang@gmail.com </span> <br>
  Name:
  <span th:text="${userInfo.userName}">Amadeus</span> <br>
  Surname:
  <span th:text="${userInfo.userSurname}">Mozart</span> <br>
  Id:
  <span th:text="${userInfo.userId}">0</span> <br>
  Your country is: <span th:text="${#locale.country}">IT</span>
</p>


<div class="topnav">
  <p>Link veloci</p>
  <a th:href="@{/home}">Home</a>
  <a th:href="@{/shoppingCart}">Shopping cart</a>
  <a th:href="@{/orders}">My Orders</a>
  <a th:href="@{/logout}">Logout</a>
</div>

<form action="searchProducts" method="POST">
  <p>Cosa vuoi cercare di bello? </p>
  <input type="text" name="keyword" >
  <input type="submit" value="vai!">
</form>

<div>
    <table style="width:100%">
      <caption>Seen recently</caption>
          <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
                <th scope="col">Supplier</th>
                <th scope="col">Add to cart</th>
              </tr>
          </thead>
      <tbody th:remove="all-but-first" th:each="productId : ${products.supplierProductMultiMap.keySet()}">
          <tr th:each="product : ${products.supplierProductMultiMap.get(productId)}">
              <td th:text="${product.productName}">
              <td th:text="${product.productDescription}"></td>
              <td th:text="${product.supplierProductCost}"></td> <!-- if product.isOnDiscount 'illimuna prezzo' -->
              <td th:text="${product.supplierName}"></td>
              <td>
                <form action="AddToCart"  th:object="${product}" method="POST">
                  <input type="hidden" th:value="${product.productId}"    name="productId" />
                  <input type="hidden" th:value="${product.supplierId}"   name="supplierId" />
                  <input type="hidden" th:value="${product.supplierProductCost}"   name="supplierProductCost" />

                  <!--
                  <input type="hidden" th:value="${product.productName}"    name="productName" />
                  <input type="hidden" th:value="${product.productDescription}"   name="productDescription" />
                  <input type="hidden" th:value="${product.productCategory}"    name="productCategory" />
                  <input type="hidden" th:value="${product.productCategoryId}"    name="productCategoryId" />
                  <input type="hidden" th:value="${product.productImagePath}"    name="productImagePath" />
                  <input type="hidden" th:value="${product.supplierName}"   name="supplierName" />
                  <input type="hidden" th:value="${product.onDiscount}"   name="onDiscount" />
                  <input type="hidden" th:value="${product.originalProductCost}"   name="originalProductCost" />
                  -->
                  <input type="submit"                                    value="Add to cart" />
                </form>
              </td>
            </tr>
        <!-- static content -->
        <tr>
          <td>A product</td>
          <td>A product's description</td>
          <td>A product's cost</td>
          <td>A product's vendor</td>
          <td> <form action="#" method="post"> </form></td>
        </tr>
      </tbody>
  </table>
</div>

</body>
</html>