<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Marketplace App</title>
  <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/myStyle.css}"  href="/css/myStyle.css"/>

</head>

<body>

    <header>
        <div>
            <a th:href="@{/GoToHome}" class="logo">
                <img th:src="@{/images/website-logo.png}" alt="website-logo.png" src=""/>
            </a>

            <div class="header-right">
                <a th:href="@{/GoToHome}" class="active">Home</a>
                <a th:href="@{/GoToShoppingCart}">Shopping cart</a>
                <a th:href="@{/GoToOrders}">My Orders</a>
                <a th:href="@{/logout}">Logout</a>
            </div>

        </div>
    </header>

    <div th:class="welcome-title">
        <br>
        <br>
        <h1>Welcome to our marketplace
            <span th:text="${session.user.userName}">Amadeus</span>
        </h1>
    </div>


<!-- Search form-->
<div class="styled-form">
    <form action="search/products" method="GET">
        <p>Cosa vuoi cercare di bello? </p>
        <input th:placeholder="'Oasis..'" name="keyword" >
        <input class="button" type="submit" value="vai!">
    </form>
</div>



<div>
    <table class="styled-table">
        <caption></caption>
        <thead>
        <tr>
            <th colspan="2" scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
            <th colspan="2" scope="col">Supplier</th>
            <th scope="col">Add to cart</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="productId : ${products.supplierProductMap.keySet()}" th:with="productInfo1=${products.supplierProductMap.get(productId)[0]}">
            <td th:class="table-product-img">
                <img th:src="'https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/products/'+ ${productInfo1.productImagePath}" alt="Product image"/>
            </td>
            <td>
                <form th:class="styled-form"
                      th:action=" ${#request.contextPath} + '/GoToHome' "
                      method="GET" > <!-- Da sostituire se si vuole aprire una pagina con le info sul prodotto -->

                    <input type="hidden" name="productId" th:value="${productId}" value="Id prodotto">
                    <input th:class="button" type="submit" name="productName" th:value="${productInfo1.productName}" value="Nome prodotto">
                </form>
            </td>
            <td th:text="${productInfo1.productDescription}"></td>
            <td th:text="${productInfo1.supplierProductCost}"></td>  <!-- if product.isOnDiscount 'illimuna prezzo' -->
            <td class="table-supplier-img">
                <img th:src="'https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/suppliers/'+ ${productInfo1.supplier.imagePath}" alt="Product image"/>
            </td>
            <td th:text="${productInfo1.supplierName}"></td>
            <td>
                <form th:class="styled-form"
                      th:action="${#request.contextPath} + '/products/AddToCart'"
                      th:object="${productInfo1}"
                      method="POST" >

                    <input type="hidden" th:value="${productInfo1.productId}"    name="productId" />
                    <input type="hidden" th:value="${productInfo1.supplierId}"   name="supplierId" />
                    <input type="hidden" th:value="${productInfo1.supplierProductCost}"   name="supplierProductCost" />
                    <input th:class="button" type="submit" value="One-click buy" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>