<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/global.css" th:href="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/login.css" th:href="@{/css/login.css}" />

    <link rel="icon" type="image/ico" th:href="@{/images/website-icon.ico}"/>

</head>


<body>

    <header>
        <div>
            <a th:href="@{/GoToHome}" class="logo">
                <img th:src="@{/images/website-logo.png}" alt="website-logo.png" src=""/>
            </a>
        </div>
    </header>


<div class="forms-container">

    <div class="login green-div" >
        <form th:action="@{/login}" method="POST"  >
            <fieldset>
                <legend class="title">Login form</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="sangeniti.ss@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password"  value="password1234" required minlength="6">
                </div>
                <button class="btn btn-medium btn-green" type="submit">Login</button>
            </fieldset>
        </form>
        <div id="loginErrorMessage" class="bold_info" th:if="${loginErrorMessage}">
            <span th:text="${loginErrorMessage}">Email or password not valid!</span>
        </div>
    </div>

    <div class="signup green-div" >
        <form th:action="@{/signup}" method="POST" >
            <fieldset>
                <legend class="title">Signup form</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="sangeniti.ss@gmail.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" required minlength="6">
                </div>
                <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Surname</label>
                    <input type="text" name="lastName" required >
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" required>
                </div>
                <div class="form-group">
                    <label for="addrCity">City</label>
                    <input type="text" name="addrCity" required>
                </div>
                <div class="form-group">
                    <label for="addrState">State</label>
                    <input type="text" name="addrState" required >
                </div>
                <div class="form-group">
                    <label for="addrPhone">Phone</label>
                    <input type="tel" name="addrPhone" required>
                </div>
                <button class="btn btn-medium btn-green" type="submit">Sign up</button>
            </fieldset>
        </form>
        <div id="signupErrorMessage" class="bold_info" th:if="${signupErrorMessage}">
            <span th:text="${signupErrorMessage}">Email or password not valid!</span>
        </div>
    </div>
</div>





</body>
</html>