<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Marketplace App</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" media="all" href="../../css/global.css" th:href="@{/css/global.css}" />
</head>

<body>

  <header>
    <div>
      <a th:href="@{/GoToHome}" class="logo">
        <img th:src="@{/images/website-logo.png}" alt="website-logo.png" src=""/>
      </a>

      <div class="header-right">
        <a th:href="@{/GoToHome}">Home</a>
        <a th:href="@{/GoToShoppingCart}">Shopping cart</a>
        <a th:href="@{/GoToOrders} " class="active">My Orders</a>
        <a th:href="@{/logout}">Logout</a>
      </div>

    </div>
  </header>

<div class="title">
  <h1>Here are your orders, <span th:text="${session.user.userName}">Amadeus</span> </h1>
</div>


<div th:if="${not #lists.isEmpty(orders)}">
  <table th:each="order : ${orders}" class="styled-order-table">
    <caption></caption>
      <thead>
        <tr>
          <th scope="col">Order id</th>
          <th scope="col">Order placement date</th>
          <th scope="col">Supplier</th>
          <th scope="col">Order amount</th>
          <th scope="col">Shipping fees</th>
          <th scope="col">Delivery date</th>
          <th scope="col">Address</th>
        </tr>
      </thead>

    <tbody>
        <tr>
          <td th:text="${order.orderId}">#0</td>
          <td th:text="${#temporals.format(order.orderPlacementDate, 'dd-MMM-yyyy')}">1-1-1970 00:00</td>
          <td th:text="${order.orderSupplier.supplierName}">AMZN</td>
          <td>&euro; <span th:text="${#numbers.formatDecimal(order.orderAmount, 1, 2, 'COMMA')}">999,9</span> </td>
          <td>&euro; <span th:text="${#numbers.formatDecimal(order.orderShippingFees, 1, 2, 'COMMA')}">10,9</span> </td>
          <td th:text="${#temporals.format(order.deliveryDate, 'dd-MMM-yyyy')}">1-1-1970 00:00</td>
          <td> <span th:text="${order.shippingAddress.recipient}"></span> <span th:text="${order.shippingAddress.address}"></span> <span th:text="${order.shippingAddress.city}"></span> <span th:text="${order.shippingAddress.state}"></span> <span th:text="${order.shippingAddress.phone}"> </span> </td>

          <table class="styled-product-in-order-table">
            <caption></caption>
            <tbody>
              <tr th:each="product : ${order.orderProductsList}">
                <td class="table-product-img">
                  <img th:src="'https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/products/'+ ${product.productImagePath}" alt="Product image"/>
                </td>
                <td th:text="${product.productName}">Nike Air Max 270 X Mozart limited edition</td>
                <td th:text="${product.productDescription}">Scarpe bellissime</td>
                <td th:text="${product.productCategory}">Scarpe e abbigliamento</td>
                <td th:text="${product.howMany}">3</td>
                <td>&euro; <span th:text="${#numbers.formatDecimal(product.supplierProductCost, 1, 2, 'COMMA')}">99,9</span> </td>
              </tr>
            </tbody>
          </table>
        </tr>
    </tbody>
  </table>
</div>


<div th:if="${#lists.isEmpty(orders)}">
  <p>You didn't place any order yet</p>
</div>

</body>
</html>