<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Marketplace App</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" media="all"
        href="../CSS/myStyle.css" th:href="@{/css/myStyle.css}" />
</head>

<body>


<div class="topnav">
  <p>Link veloci</p>
  <a th:href="@{/home}">Home</a>
  <a th:href="@{/shoppingCart}">Shopping cart</a>
  <a th:href="@{/orders}">My Orders</a>
  <a th:href="@{/logout}">Logout</a>
</div>

<h1>Here's your orders, <span th:text="${session.user.userName}"> Amadeus</span> </h1>



<div th:if="${not #lists.isEmpty(orders)}">
  <table th:class="styled-table" style="width:100%">
    <!-- se il carrello è vuoto non mostrare la tabella -->
    <caption style="lighting-color: #04AA6D">ORDERS</caption>
      <thead>
        <tr>
          <th scope="col">First col</th>
          <th scope="col">Second col</th>
          <th scope="col">third col</th>
        </tr>
      </thead>
    <tbody>
    <tr>
      <td>Something</td>
    </tr>
    </tbody>


  </table>


</div>


<p>
<h4>User info</h4>
This is your e-mail:
  <span th:text="${session.user.email}">amadeus.wgang@gmail.com </span> <br>
  Name:
  <span th:text="${session.user.userName}">Amadeus</span> <br>
  Surname:
  <span th:text="${session.user.userSurname}">Mozart</span> <br>
  Id:
  <span th:text="${session.user.userId}">0</span> <br>
  Your country is: <span th:text="${#locale.country}">IT</span>
</p>



</body>
</html>