<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/myStyle.css" th:href="@{/css/myStyle.css}" />
</head>


<body>

<header>
    <div>

        <a th:href="@{/TIW/home}" class="logo">
            <img src="https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/suppliers/amazon-logo.png" alt="amazon-logo.png"/>
        </a>

        <div class="header-right">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/shoppingCart}">Shopping cart</a>
            <a th:href="@{/orders}">My Orders</a>
            <a th:href="@{/logout}">Logout</a>
        </div>

    </div>
</header>


<div>
    <table th:class="styled-table" style="width:100%">
        <caption>Products from the marketplace</caption>
        <thead>
            <tr>
                <th colspan="2" scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
                <th colspan="2" scope="col">Supplier</th>
                <th scope="col">Add to cart</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="productId : ${products.supplierProductMultiMap.keySet()}" th:with="productInfo1=${products.supplierProductMultiMap.get(productId)[0]}">
                <td class="table-product-img">
                    <img th:src="'https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/products/'+ ${productInfo1.productImagePath}" alt="Product image"/>
                </td>
                <td>
                    <!-- form reso cliccabile e modificato con css -->
                    <form th:action=" ${#request.contextPath} + '/search/products/showProductInfo' " class="inline" method="POST" >
                        <!-- il tag input vine utilizzato per mandare parametri nella richiesta -->
                        <input type="hidden" name="productId" th:value="${productId}" value="Id prodotto">
                        <input type="submit" name="productName" th:value="${productInfo1.productName}" value="Nome prodotto" class="link-button">
                        <!-- il tag button può essere utilizzato per inserire STATICAMENTE il testo del link -->
                        <!-- <button type="submit" class="link-button"> Testo del link</button> -->
                        <!-- inserire più 'type=submit' fa comparire più bottoni -->
                    </form>
                </td>
                <td th:text="${productInfo1.productDescription}"></td>
                <td th:text="${productInfo1.supplierProductCost}"></td>  <!-- if product.isOnDiscount 'illimuna prezzo' -->
                <td class="table-supplier-img">
                    <img th:src="'https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/suppliers/'+ ${productInfo1.supplier.imagePath}" alt="Product image"/>
                </td>
                <td th:text="${productInfo1.supplierName}"></td>
                <td>
                    <form th:action="${#request.contextPath} + '/products/AddToCart'"  th:object="${productInfo1}" method="POST">
                        <input type="hidden" th:value="${productInfo1.productId}"    name="productId" />
                        <input type="hidden" th:value="${productInfo1.supplierId}"   name="supplierId" />
                        <input type="hidden" th:value="${productInfo1.supplierProductCost}"   name="supplierProductCost" />
                        <input type="submit"                                    value="One-click buy" />
                    </form>
                </td>
                <td>
                    <table th:if="${selectedProductId.equals(productInfo1.productId)}" th:each="supplierProduct : ${products.supplierProductMultiMap.get(productId)}">
                        <caption>Suppliers</caption>
                        <thead>
                        <tr>
                            <th scope="col">Supplier</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Range</th>
                            <th scope="col">Add to cart</th>
                        </tr>
                        </thead>
                        <tr>
                            <td th:text="${supplierProduct.supplier.supplierName}"> Venditore 0</td>
                            <td th:text="${supplierProduct.supplierProductCost}">2000.00</td>
                            <td th:text="${supplierProduct.supplier.supplierRating}">0.0</td>
                            <td>
                                <table>
                                    <thead>
                                    <tr>
                                        <th scope="col">Range</th>
                                        <th scope="col">minItem</th>
                                        <th scope="col">maxItem</th>
                                        <th scope="col">cost</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="range : ${supplierProduct.supplier.supplierShippingPolicy.ranges}" >
                                        <td th:text="${supplierProduct.supplier.supplierShippingPolicy.ranges.indexOf(range) + 1}">1</td>
                                        <td th:text="${range.minAmount}">1</td>
                                        <td th:text="${range.maxAmount}">5</td>
                                        <td th:text="${range.cost}">100,99</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <form th:action="${#request.contextPath} + '/products/AddToCart'" method="POST">
                                    <label for="howMany">How many:</label>
                                    <select name="howMany" id="howMany">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                    <input type="hidden" th:value="${supplierProduct.productId}"    name="productId" />
                                    <input type="hidden" th:value="${supplierProduct.supplierId}"   name="supplierId" />
                                    <input type="hidden" th:value="${supplierProduct.supplierProductCost}"   name="supplierProductCost" />
                                    <input type="submit" value="Add to cart">
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>