<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../CSS/search.css" th:href="@{/css/search.css}" />
</head>


<body>

<div class="topnav">
    <p>Link veloci</p>
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/cart}">Cart</a>
    <a th:href="@{/orders}">Orders</a>
</div>

<div>
    <table style="width:100%">
        <caption>Products from the marketplace</caption>
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
                <th scope="col">Supplier</th>
                <th scope="col">Add to cart</th>
            </tr>
        </thead>
        <tbody th:remove="all-but-first" th:each="productId : ${products.supplierProductMultiMap.keySet()}">
            <tr th:each="product : ${products.supplierProductMultiMap.get(productId)}">
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productDescription}"></td>
                <td th:text="${product.supplierProductCost}"></td>  <!-- if product.isOnDiscount 'illimuna prezzo' -->
                <td th:text="${product.supplierName}"></td>
                <td>
                    <form action="AddToCart"  th:object="${product}" method="POST">
                        <input type="hidden" th:value="${product.productId}"    name="productId" />
                        <input type="hidden" th:value="${product.supplierId}"   name="supplierId" />
                        <input type="hidden" th:value="${product.supplierProductCost}"   name="supplierProductCost" />

                        <!--
                        <input type="hidden" th:value="${product.productName}"    name="productName" />
                        <input type="hidden" th:value="${product.productDescription}"   name="productDescription" />
                        <input type="hidden" th:value="${product.productCategory}"    name="productCategory" />
                        <input type="hidden" th:value="${product.productCategoryId}"    name="productCategoryId" />
                        <input type="hidden" th:value="${product.productImagePath}"    name="productImagePath" />
                        <input type="hidden" th:value="${product.supplierName}"   name="supplierName" />
                        <input type="hidden" th:value="${product.onDiscount}"   name="onDiscount" />
                        <input type="hidden" th:value="${product.originalProductCost}"   name="originalProductCost" />
                        -->
                        <input type="submit"                                    value="Add to cart" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Nome template</td>
                <td>Description template</td>
                <td>Cost template</td>
                <td>Supplier template</td>
                <td> <form action="#" method="post"> </form></td>
            </tr>
        </tbody>
    </table>
</div>



</body>
</html>