<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Search</title>

    <link rel="stylesheet" type="text/css" media="all"
          href="../css/search.css" th:href="@{/css/search.css}" />
</head>


<body>

<div class="topnav">
    <p>Link veloci</p>
    <a th:href="@{/home}">Home</a>
    <a th:href="@{/shoppingCart}">Shopping cart</a>
    <a th:href="@{/orders}">My Orders</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<div>
    <table style="width:100%">
        <caption>Products from the marketplace</caption>
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
                <th scope="col">Supplier</th>
                <th scope="col">Add to cart</th>
            </tr>
        </thead>
        <tbody th:remove="all-but-first" th:each="productId : ${products.supplierProductMultiMap.keySet()}">
            <tr th:each="product : ${products.supplierProductMultiMap.get(productId)}">
                <td>
                    <!-- form reso cliccabile e modificato con css -->
                    <form method="POST" action="showProductInfo" class="inline">
                        <!-- il tag input vine utilizzato per mandare parametri nella richiesta -->
                        <input type="hidden" name="productId" th:value="${productId}" value="Id prodotto">
                        <input type="submit" name="productName" th:value="${product.productName}" value="Nome prodotto" class="link-button">
                        <!-- il tag button può essere utilizzato per inserire STATICAMENTE il testo del link -->
                        <!-- <button type="submit" class="link-button"> Testo del link</button> -->
                        <!-- inserire più 'type=submit' fa comparire più bottoni -->
                    </form>
                </td>
                <td th:text="${product.productDescription}"></td>
                <td th:text="${product.supplierProductCost}"></td>  <!-- if product.isOnDiscount 'illimuna prezzo' -->
                <td th:text="${product.supplierName}"></td>
                <td>
                    <form action="AddToCart"  th:object="${product}" method="POST">
                        <input type="hidden" th:value="${product.productId}"    name="productId" />
                        <input type="hidden" th:value="${product.supplierId}"   name="supplierId" />
                        <input type="hidden" th:value="${product.supplierProductCost}"   name="supplierProductCost" />
                        <input type="submit"                                    value="Add to cart" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>Nome template</td>
                <td>Description template</td>
                <td>Cost template</td>
                <td>Supplier template</td>
                <td> <form action="#" method="post"> </form></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>