
/* font */
@font-face {
    font-family: 'formula1display-bold';

    /*
    src: url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-bold-webfont.woff2') format('woff2'),
    url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-bold-webfont.woff') format('woff');
    */

    src: url('../fonts/formula1-bold-webfont.woff2') format('woff2'),
    url('../fonts/formula1-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'formula1display-regular';

    /*
    src: url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-regular-webfont.woff2') format('woff2'),
    url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-regular-webfont.woff') format('woff');
     */

    src: url('../fonts/formula1-regular-webfont.woff2') format('woff2'),
    url('../fonts/formula1-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'formula1display-wide';

    /*
    src: url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-wide-webfont.woff2') format('woff2'),
    url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-wide-webfont.woff') format('woff');
    */

    src: url('../fonts/formula1-wide-webfont.woff2') format('woff2'),
    url('../fonts/formula1-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    font-family: formula1display-regular, serif;
    height: 100%;
}


body   {
    /*  background-image: url("https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/website/background-image.jpg");    */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    height: 90%;
}



/*
    Header
 */


header {
    background-color: #ffffff;
    padding: 2px 2px;
    height: 100px;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a.logo img {
    height: 70px;
}

header a:hover {
    background-color: #04aa6d23;
    color: #04AA6D;
    transition: 0.6s ease;
}

header a.active {
    background-color: #04AA6D;
    color: white;
}

header a.inactive {
    color: rgba(110, 104, 104, 0.5);
}

.header-right {
    float: right;
}



/*
    Green & bold text
 */
.title {
    color: #04AA6D;
    font-family: formula1display-bold, sans-serif;

}


/*
    Form used to search product
 */
.search-form {
    padding-left: 10px;
    display: block;
}

.search-form input:hover{
    border: 1px solid #04aa6d;
    transition: 0.6s ease;
}

.search-form .button {
    margin-left: 20px;
    width: 5vh;
    border: solid thin #009879;
    height: auto;
    border-radius: 5px;
    background: #04aa6d;
    color:white;
}

.search-form .button:hover{
    background:white;
    color:#04aa6d;
    cursor: pointer;
    transition: 0.6s ease;
}

/*
    Da inserire come class di un div per ogni elemento del form

    <div class="class1form" ...>
        <form ...>
            <div class="form-group"
                <input ...>
            </div>
            <div class="form-group"
                <input ...>
            </div>
        </form>
    </div>
 */
.form-group{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row; /* children flow as row */
    justify-content: center; /* center flex childen */
}
.form-group > input {
    padding: 0.5rem;
    border-radius: 0 5px 5px 0;
    border: 1px solid #d1d3e2;
    color: #6e707e;
    background-color: #fff;
    font-weight: 200;
    line-height: 1.5; /* 1.5 times the font size */
    width: 80%;
}
.form-group > label {
    padding: 0.8rem;
    color: #495057;
    text-align: center;
    white-space: nowrap; /* no new line for white spaces */
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: 0; /* reset border right, as input's one is already present */
    font-weight: 200;
    font-size: 0.6rem;
    width: 20%;
}

/*
    Form styling
 */
fieldset{
    border: 0;
}



/*
    Table styling to show products
 */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto;
    width: 100%;
}

.styled-table caption {
    font-size: large;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    min-width: fit-content;
    padding: 0.5% 0.5%;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 2px solid #00987a57;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 3px solid #009879;
}

.styled-table tbody tr.active-row {
    font-family: formula1display-bold, serif;
    color: #04aa6d;
}

.bold_info {
    font-family: formula1display-bold, serif;
    font-size: 20px;
}

.table-product-img img {
    width: 150px;;
    height: 150px;
    object-fit: contain;
    border: 0px solid #ddd;
    border-radius: 20px;
    padding: 5px;
}

.table-product-img img:hover {
    box-shadow: 1px 1px 15px 2px #028168;
    transition: 0.6s ease;
}

.table-supplier-img img {
    width: 200px;;
    height: 150px;
    object-fit: contain;
    padding: 2px;
}

.table-supplier-img img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transition: 0.6s ease;
}


/*
    Smooth transition link button
 */
.clickable-link {
    width: fit-content;
    border: solid thin #009879;
    height: auto;
    border-radius: 5px;
    background: #04aa6d;
    color:white;
    text-decoration-line: none;
    padding: .25rem 1rem;
}

.clickable-link:hover {
    background:white;
    color:#04aa6d;
    cursor: pointer;
    transition: 0.6s ease;
}

.clickable-link-medium{
    padding: .25rem 1rem;
    font-family: formula1display-bold, serif;
    font-size: 1rem;
}

.clickable-link-large {
    padding: .8rem 2rem;
    font-family: formula1display-bold, serif;
    font-size: 1rem;
}


#products-table-div {
    display: none;
}

#search-products-table-div {
    display: none;
}

#shopping-cart-div {
    display: none;
}

#orders-div {
    display: none;
}

#search-form-error {
    display: none;
}