
.forms-container {
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.login {
    height: auto;
    flex-basis: 40%;

    /* border: 2px solid rgb(0, 0, 0); */
}

.signup {
    height: auto;
    flex-basis: 25%;

    /* border: 2px solid rgb(0, 0, 0); */
}


/*
    Colored divs
*/
.green-div{
    margin: 0 auto;
    border: 2px solid #04aa6d;
    border-radius: 6px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175); /* x-offset y-offset radius color */
    padding: 1rem;
}

.green-div .form-group > input:hover{
    border: 1px solid #04aa6d;
    transition: 0.6s ease;
}


.green-div .form-group > input:focus{
    border: 5px solid #04aa6d;
    transition: 0.6s ease-out;
}




/*
    Buttons
*/
.btn{
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border-style: solid;
    padding: .25rem 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.btn-green {
    color: #fff;
    background-color: #04aa6d;
    border-color: #04aa6d;
    cursor: pointer;
}

.btn-green:hover{
    background:white;
    color:#04aa6d;
    cursor: pointer;
    transition: 0.6s ease;
}
