
/* font */
@font-face {
    font-family: 'formula1display-bold';

    /*
    src: url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-bold-webfont.woff2') format('woff2'),
    url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-bold-webfont.woff') format('woff');
    */

    src: url('../fonts/formula1-bold-webfont.woff2') format('woff2'),
    url('../fonts/formula1-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'formula1display-regular';

    /*
    src: url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-regular-webfont.woff2') format('woff2'),
    url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-regular-webfont.woff') format('woff');
     */

    src: url('../fonts/formula1-regular-webfont.woff2') format('woff2'),
    url('../fonts/formula1-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'formula1display-wide';

    /*
    src: url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-wide-webfont.woff2') format('woff2'),
    url('https://tiw21marketplace.s3.eu-south-1.amazonaws.com/fonts/formula1-wide-webfont.woff') format('woff');
    */

    src: url('../fonts/formula1-wide-webfont.woff2') format('woff2'),
    url('../fonts/formula1-wide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    font-family: formula1display-regular, serif;
    height: 100%;
}


body   {
    /*  background-image: url("https://tiw21marketplace.s3.eu-south-1.amazonaws.com/images/website/background-image.jpg");    */
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    height: 90%;
}

header {
    background-color: #ffffff;
    padding: 2px 2px;
    height: 60px;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a.logo img {
    height: 70px;
}

header a:hover {
    background-color: #04aa6d23;
    color: #04AA6D;
    transition: 0.6s ease;
}

header a.active {
  background-color: #04AA6D;
  color: white;
}

header a.inactive {
    color: rgba(110, 104, 104, 0.5);
}

.header-right {
  float: right;
}

.welcome-title {
    color: #04AA6D;
}


.styled-form {
    padding-left: 10px;
    display: block;
}

.styled-form p, input {
    width: fit-content;
    font-family: formula1display-regular, serif;
}

.styled-form .button {
    width: fit-content;
    border: solid thin #009879;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    height: auto;
    border-radius: 5px;
    background: #04aa6d;
    color:white;
}


.styled-form .button:hover{
    background:white;
    color:#04aa6d;
    cursor: pointer;
    transition: 0.6s ease;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto;
    width: 100%;
}

.styled-table caption {
    font-size: large;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 0.5% 0.5%;
}

.styled-table tbody tr {
    border-bottom: 2px solid #00987a57;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table caption {
    font-weight: bold;
    color: #009879;
}


.styled-order-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto;
    width: 100%;
}

.styled-order-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-order-table th,
.styled-order-table td {
    padding: 12px 15px;
}

.styled-order-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-order-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-order-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-order-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-order-table caption {
    font-weight: bold;
    font-size: x-large;
    color: #009879;
    padding-bottom: 1%;
}

.styled-product-in-order-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: auto;
    width: 90%;
}

.styled-product-in-order-table thead tr {
    background-color: #028168;
    color: #ffffff;
    text-align: left;
}

.styled-product-in-order-table th,
.styled-product-in-order-table td {
    padding: 10px 10px;
}

.styled-product-in-order-table tbody tr {
    border-bottom: 10px solid #dddddd;
}

.styled-product-in-order-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-product-in-order-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-product-in-order-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-product-in-order-table caption {
    font-weight: bold;
    font-size: large;
    color: #028168;
    padding-bottom: 5px;
}


.bold_info span {
    font-family: formula1display-bold, serif;
    font-size: 20px;
}


.table-product-img img {
    width: 150px;;
    height: 150px;
    object-fit: contain;
    border: 0px solid #ddd;
    border-radius: 20px;
    padding: 5px;
}

.table-product-img img:hover {
    box-shadow: 1px 1px 15px 2px #028168;
    transition: 0.6s ease;
}

.table-supplier-img img {
    width: 200px;;
    height: 150px;
    object-fit: contain;
    padding: 2px;
}

.table-supplier-img img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transition: 0.6s ease;
}

.container {
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.login {
    height: auto;




    /* border: 2px solid rgb(0, 0, 0); */
}

.signup {
    height: auto;

    /* border: 2px solid rgb(0, 0, 0); */
}